{% extends 'default_layout.html'%}

{% block contenidos %}
<div class="container">
	<h3>Selecciones una opción, por favor verifique que sea la correcta</h3>
	<div class="row">
		<div class="span4 centrar-texto opciones">
	      <h3>Opción 1</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque erat, suscipit. </p>
	      <p><strong>$ 0.00 USD</strong></p>
	      <p><a href="#" class="btn">Seleccionar</a></p>
	    </div>

	    <div class="span4 centrar-texto opciones">
	      <h3>Opción 2</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque erat, suscipit. </p>
	      <p><strong>$ 0.00 USD USD</strong></p>
	      <p><a href="#" class="btn">Seleccionar</a></p>
	    </div>

	    <div class="span4 centrar-texto opciones">
	      <h3>Opción 3</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque erat, suscipit. </p>
	      <p><strong>$ 0.00 USD USD</strong></p>
	      <p><a href="#" class="btn">Seleccionar</a></p>
	    </div>
	</div>
</div>
{% endblock %}